body{
  background-image: url("img/bg.jpg");
  object-fit: cover;
}


/* Card CSS taken from Code Pen */

.grid {
  width: 100%;
  margin: 0 auto;
}

#mainCard{
  width: 15%;
  height: 40%;
  position: absolute;
  right: 80%;
  bottom: 5%;
  z-index: 10000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainimg{
  height: 112%;
}

img{
  width: 110%;
  height: 110%;
  object-fit: cover;
}

.list {
  height: 100vh;
  width: 100%;
  position: relative;
  list-style-type: none;
  padding-left: 0;
}

.card {
  transition: all 1s cubic-bezier(0.68, 0, 0.265, 0);
  float: left;
  width: 15%;
  height: 40%;
  position: absolute;
  right: 80%;
  bottom: 6.5%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:nth-child(5n) {
  margin-right: 0;
}
.card.ani0 {
  right: 80%;
  bottom: 60%;
}
.card.ani1 {
  right: 60%;
  bottom: 60%;
}
.card.ani2 {
  right: 40%;
  bottom: 60%;
}
.card.ani3 {
  right: 20%;
  bottom: 60%;
}

/* Fortune Box */

#fortune {
  width: 55%;
  height: 40%;
  right: 20%;
  bottom: 5%;
  background-color: purple;
  position: absolute;
  overflow: hidden;
  z-index: -10;
}

#stars {
  opacity: 0;
}

.on{
opacity: 1 !important;
}

@media(max-width: 1200px){

 img{
   width: 105%;
   height: 105%;
 }

  #mainCard{
    width: 15%;
    height: 40%;
    right: 80%;
    bottom: 5%;
  }
  .card {
    width: 15%;
    height: 39%;
    right: 80%;
    bottom: 8%;
  }

  .card.ani0 {
    right: 80%;
    bottom: 60%;
  }
  .card.ani1 {
    right: 60%;
    bottom: 60%;
  }
  .card.ani2 {
    right: 40%;
    bottom: 60%;
  }
  .card.ani3 {
    right: 20%;
    bottom: 60%;
  }


}
