body{
  background-image: url("img/bg.jpg");
  object-fit: cover;
}


/* Card CSS taken from Code Pen */

.grid {
  width: 100%;
  margin: 0 auto;
}

#mainCard{
  width: 15%;
  height: 40%;
  position: absolute;
  right: 80%;
  bottom: 5%;
  z-index: 10000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3%;
  box-shadow: 5px 5px rgba(0,0,0,.5);
}

#mainimg{
  height: 112%;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list {
  height: 100vh;
  width: 100%;
  position: relative;
  list-style-type: none;
  padding-left: 0;
}

.card {
  transition: all 1s cubic-bezier(0.68, 0, 0.265, 0);
  float: left;
  width: 15%;
  height: 40%;
  position: absolute;
  right: 80%;
  bottom: 6.5%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3%;
  box-shadow: 5px 5px rgba(0,0,0,.5);

}

.card:nth-child(5n) {
  margin-right: 0;
}
.card.ani0 {
  right: 80%;
  bottom: 60%;
}
.card.ani1 {
  right: 60%;
  bottom: 60%;
}
.card.ani2 {
  right: 40%;
  bottom: 60%;
}
.card.ani3 {
  right: 20%;
  bottom: 60%;
}

/* Fortune Box */

#fortune {
  width: 55%;
  height: 40%;
  right: 20%;
  bottom: 5%;
  background-color: rgba(	18, 13, 26, 0.8);
  position: absolute;
  overflow: hidden;
  z-index: -10;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
}

#stars {
  opacity: 0;
  transition: .5s ease;
  position: absolute;
  top:0;
  left:0;
}

.on{
opacity: .5 !important;
transition: .5s ease;
top:0;
left:0;
}

#instructions {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 5%;
}

#instructions h1{
  font-family: 'Beth Ellen', cursive;
  font-size: 2.5rem;
  color: white;
  line-height: 2rem;
}

#instructions p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: white;
  line-height: 1.8rem;
  text-align: left;
}

p{
  color: white;
  width: 90%;
  text-align: center;
  font-size: 2rem;
  font-family: 'Beth Ellen', cursive;
  line-height: 3rem;
}

@media(max-width: 1200px){

 img{
   width: 100%;
   height: 100%;
 }

  #mainCard{
    width: 15%;
    right: 80%;
    bottom: 5%;
  }
  .card {
    width: 15%;
    right: 80%;
    bottom: 8%;
  }

  .card.ani0 {
    right: 80%;
    bottom: 60%;
  }
  .card.ani1 {
    right: 60%;
    bottom: 60%;
  }
  .card.ani2 {
    right: 40%;
    bottom: 60%;
  }
  .card.ani3 {
    right: 20%;
    bottom: 60%;
  }

  #instructions h1{
    font-size: 1.5rem;
  }

  #instructions p{
    font-size: .8rem;
  }


}
