/* Card CSS taken from Code Pen */

.grid {
  width: 90%;
  margin: 0 auto;
}

#mainCard{
  width: 200px;
  height: 400px;
  position: absolute;
  right: 41%;
  bottom: 4%;
  z-index: 10000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  width: 110%;
  height: 110%;
  object-fit: cover;
}

.list {
  height: 80vh;
  position: relative;
  list-style-type: none;
  padding-left: 0;
}

.card {
  transition: all 1s cubic-bezier(0.68, 0, 0.265, 0);
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  float: left;
  width: 200px;
  height: 400px;
  background-color: #eee;
  position: absolute;
  right: 40%;
  bottom: -20%;
  margin: 30px 0 15px 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:nth-child(5n) {
  margin-right: 0;
}
.card.ani0 {
  right: 948px;
  bottom: 326px;
}
.card.ani1 {
  right: 711px;
  bottom: 326px;
}
.card.ani2 {
  right: 474px;
  bottom: 326px;
}
.card.ani3 {
  right: 237px;
  bottom: 326px;
}
.card.ani4 {
  right: 0;
  bottom: 326px;
}
